.btn {
    @apply px-4 py-2 mb-4 bg-light-blue text-white rounded hover:bg-primary-blue focus:outline-none focus:bg-primary-blue transition-all duration-500 ease-in-out;
}

.modal-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 500px) {
        width: 90vw;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 501px) {
        width: 500px;
        transform: translate(-50%, -50%);
    }
}